.header{
    
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 50px;
    width: auto;
    height: auto;
    max-width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar a {
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon1 {
    color: #fff;
    font-size: 40px;
}

.icon2 {
    color: #fff;
    font-size: 35px;
}

.login {
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 600;

    border: 2px solid #fff;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #000;

    order: 1; /* จัดลำดับให้ logout มาทีหลัง icon (ถ้าจำเป็น) */
}


.logout-container{ 
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-container .icon{
    margin-right: 5px;
}


.username {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}